@use'../../styles/vars' as vars;

.taskList {
    padding: 0;
    margin-top: 20px;
    background-color: vars.$color-backgroundDark;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

.emptyList {
    text-align: center;
    color: vars.$color-textPrimary;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 30px 20px;
    font-style: italic;
    background-color: vars.$color-backgroundDark;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}