@use'../../styles/vars' as vars;

.taskItem {
    background-color: white;
    border-radius: vars.$border-radius;
    padding: 16px;
    margin-bottom: 12px;
    box-shadow: vars.$shadow-card;
    display: flex;
    align-items: center;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .checkbox {
        color: vars.$color-accent;
    }

    .taskTitle {
        flex: 1;
        color: vars.$color-textPrimary;
        font-weight: 500;

        &.completed {
        text-decoration: line-through;
        color: vars.$color-textTimestamp;
        }
    }

    .actions {
        display: flex;
        gap: 8px;

        .editBtn, .deleteBtn {
        color: vars.$color-textTimestamp;

        &:hover {
            color: vars.$color-accent;
        }
        }
    }

    // Індикатор статусу (лінія зліва)
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        border-radius: vars.$border-radius 0 0 vars.$border-radius;
    }

    &.todo::before {
        background-color: vars.$color-todo;
    }

    &.inprogress::before {
        background-color: vars.$color-inprogress;
    }

    &.done::before {
        background-color: vars.$color-completed;
    }
}