@use 'sass:color';

$font-primary: "Montserrat", sans-serif;

$color-backgroundDark: #ffffff;
$color-backgroundLight: #f4f6f8;
$color-accent: #2196F3;
$color-light-accent: #e3f2fd;
$color-textPrimary: #333333;
$color-textTimestamp: #757575;
$color-accent-text: #ffffff;
$color-completed: #4CAF50;
$color-inprogress: #FFC107;
$color-todo: #FF5722;
$shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 8px;

$text-color: #333333; 