// src/App.module.scss

@use 'sass:color';
@use './styles/vars.scss' as vars;

.appContainer {
    padding-top: 40px;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: vars.$color-background; 
    min-height: 100vh;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: vars.$color-text-dark; 
    font-weight: 700;
}

.filterButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    
    :global(.MuiButton-root) {
        border-radius: 20px; 
        text-transform: none;
        font-weight: 500;
        margin: 0 8px;
        color: vars.$color-text-medium;
        background-color: vars.$color-card-background;
        box-shadow: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: color.adjust(vars.$color-card-background, $lightness: -10%);
        }

        &.Mui-disabled {
            background-color: vars.$color-text-dark;
            color: vars.$color-white;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
    }
}