@use 'sass:color';
@use '../../styles/vars' as vars;

.taskForm {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    padding: 16px;
    background-color: vars.$color-backgroundLight;
    border-radius: vars.$border-radius;
    box-shadow: vars.$shadow-card;

    .MuiTextField-root {
        flex: 1;
        background-color: white;
        border-radius: vars.$border-radius;

        .MuiOutlinedInput-root {
        border-radius: vars.$border-radius;
        }
    }

    .MuiButton-root {
        background-color: vars.$color-accent;
        color: vars.$color-accent-text;
        text-transform: none;
        font-weight: 600;
        padding: 8px 16px;
        border-radius: vars.$border-radius;

        &:hover {
        background-color: color.adjust(vars.$color-accent, $lightness: 10%); // На 10% яскравіший
        }

        &:disabled {
        background-color: vars.$color-light-accent;
        color: vars.$color-textTimestamp;
        }
    }
}